* {
    box-sizing: border-box;
}
/*WOFF2 is a format used for compressing fonts on the web, making websites load faster because it reduces file sizes*/
@font-face {
    font-family: 'Naslovi';
    src: url('../../Stvari/Fontovi/Naslov/Final/andada-regular-webfont.woff2') format('woff2'),
         url('../../Stvari/Fontovi/Naslov/Final/andada-regular-webfont.woff') format('woff');
}


@font-face {
    font-family: 'Text';
    src: url('../../Stvari/Fontovi/Naslov/Final2/ProximaNovaFonts/woff/ProximaNova-Regular.woff2') format('woff2'),
         url('../../Stvari/Fontovi/Naslov/Final2/ProximaNovaFonts/woff/ProximaNova-Regular.woff') format('woff');
}      

 
body {
    margin: 0;
}


html, body, button {
    font-family: 'Text';
    font-size: 16px;
    line-height: 1.5em;
}


.pageTitle {
    font-family: 'Naslovi';
    font-size: 3.8rem;
    /* color: #A8D5BA; */
    color: #A8D5BA;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
  /*   text-shadow: -1px -1px 5px black,
    1px -1px 0 black,
   -1px  1px 0 black,
    1px  1px 0 black; */
}

.subTitle {
    font-size: 2.2rem;
    /* color: #A8D5BA; */
    color: #A8D5BA;
    position: absolute;
    width: 100%;
    bottom: 40%;
    text-align: center;
/*     text-shadow: -1px -1px 0px black,
    1px -1px 0 black,
   -1px  1px 0 black,
    1px  1px 0 black; */
}



nav:not(.navigation){
    background-color: #00715A;
    color: white;
    height: auto; 
    display: flex;
    align-items: center; 
    position: relative;
    padding: 15px 0px;
    flex-wrap: wrap;
}



/*navigacija*/
.navigation {
/*  background-color: #006A62;  */
    color: white;
    height: auto; 
    display: flex;
    align-items: center; 
    padding: 15px 0px;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.contentCont {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.allTogether {
    width: 65%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


.content {
    font-size: 1.25em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 28px;
}


.content a, .footerContentCont a{
    text-decoration: none;
    color: white;
}

.content a:hover, .footerContentCont a:hover{
    color: #0aed74;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 2.5em;
}

.mobile-menu {
    display: none; 
    flex-direction: column;
    /* background-color: #00715A; */
    border-top: 1px solid white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
}

.mobile-menu a, .mobile-menu button {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color:  white;
    text-align: left;
    text-decoration: none;
}

.shoppingCartCont {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 0.7em;
}

.mobile-menu a:hover, .mobile-menu button:hover {
    background-color: #504d4d;
}

a {
    text-decoration: none;
    color: #006A62;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


button.ceramics {
    font-size: 1em;
    padding: 0.2em 0.7em;
    width: auto;
    border-radius: 10px;
    background-color: #006A62;
    color: white;
    border: 1px solid white;    
}


#icon {
    font-size: 2.1em;
}
/*navigacijaKraj*/


/*hero*/
.heroCont {
    position: relative;
    width: 100%;
    height: 100vh;
}

.heroImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(55%);
}

/*heroKraj*/


/*keramika*/
.ceramicsCont {
    padding: 0px;
    /* border: 2px solid #DCDCDC; */
    width: 65%;
    margin: 30px auto 0px;
/*     background-color: #F8F8F8; */
    margin-bottom: 50px;
}

.ceramicsRow {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 100px;
}

a.articleLink {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

a.articleLink:hover, a.articleLink:focus, a.articleLink:active {
    text-decoration: none;
    color: inherit;
}


.ceramicArticle {
    padding: 10px 10px 35px 10px;
    border: 1px solid #DCDCDC;
    flex: 1 1 calc(33.33% - 40px);
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   /*  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); */
}

.ceramicArticle:hover {
    transform: scale(1.03);
}

.product-img {
    transition: opacity 0.4s ease-in-out;
}

#price {
    font-size: 1.4em;
    margin-top: 15px;
}

.ceramicArticle img {
    width: 100%;
    max-width: 100%;
    height: 350px;
    object-fit: cover;
}

#inCartBtn {
    width: 40%;
    background-color: #006A62;
    color: white;
    border-radius: 5px;
    padding: 6px;
    margin-top: auto;
}

#inCartBtn:hover {
    background-color: #004D47;
}



/* .ceramicArticle:nth-child(n+4) {
    margin-top: 30px;
} */
/*keramikaKraj*/



/*footer*/
footer {
    background-color: #006A62;
    /* min-height: 300px; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 25px;
}

#white {
    color: white;
}


.footerContentCont {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    width: 65%;
    margin: 0 auto;
}

.logoSocialMedia {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 5%;
    align-items: center;
    justify-content: center;
}

.logos {
    text-align: center;
    font-size: 1.7em;
    display: flex;
    gap: 25px;
}


.footerLinks {
    flex: 95%;
    display: flex;
    align-items: center;
    gap: 65px;
    justify-content: flex-end;
    margin-right: 0px;
}

.linksContent {
    display: flex;
    flex-direction: column;
}

.autorCopyright {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    color: white;
}

.autorCopyright p {
    margin-bottom: 0;
}
/*krajFootera*/


/* .ceramicsLink {
    display: block;
} */



/*phone*/
@media (max-width: 600px) {

    .heroCont {
        height: 70vh;
    }

   /*  .heroImg {
        height: auto;
    } */

    nav {
        height: 10vh;
        padding: 0 10px;
        flex-wrap: nowrap;
    }

    .content > *:not(#shoppingCart){
        display: none;
    }

    
    .logo {
        width: 100px;
        height: 100px;
    }

    #icon {
        font-size: 2em;
        margin-right: 20px;
    }

    .hamburger-menu {
        display: block;
    }

    button.ceramics {
        padding: 1em;
        border-radius: 0;
    }

    .mobile-menu a, .mobile-menu button {
        font-size: 1em;
        padding: 8px;
        /* background-color: rgb(88, 85, 85); */
    }

    .pageTitle {
        top: 50%;
    }

    .subTitle {
        bottom: 15%;
        line-height: 1.5em;
    }


    .ceramicsCont {
        width: 95%;
    }

    .ceramicsRow {
        gap: 50px 0;
        /* row-gap: 50px; */
    }
    
    .ceramicArticle {
        flex: 100%;
    }

    .ceramicArticle img {
        height: 265px;
    }

    #inCartBtn {
        width: 100%;
        padding: 12px;
    }

    .allTogether {
        width: 95%;
    }


    .footerContentCont {
        width: 95%;
        flex-direction: column;
        gap: 45px;
    }

    .logoSocialMedia {
        width: 30%;
        align-items: center;
        margin: 10px 0px 0px 0px;
    }

    .footerLinks {
        margin-right: 0;
        justify-content: flex-start;
    }


}



/*tablet*/
@media (min-width: 601px) and (max-width: 991px){

    .heroCont {
        height: 100vh;
    }

/*     .heroImg {
        height: auto;
    } */

    nav {
       /*  height: 10vh; */
        flex-wrap: nowrap;
    }
    
    .content > *:not(#shoppingCart){
        display: none;
    }

    .logo {
        width: 115px;
        height: 115px;
    }

    #icon {
        font-size: 2em;
        margin-right: 20px;
    }

    .pageTitle {
        top: 50%;
    }

    .subTitle {
        bottom: 25%;
        line-height: 1.5em;
    }

    .hamburger-menu {
        display: block;
    }

    button.ceramics {
        padding: 1em;
        border-radius: 0;
    }


    .mobile-menu a, .mobile-menu button {
        font-size: 0.9em;
        padding: 8px;
    }

    .ceramicsCont {
        width: 80%;
    }

    .ceramicsRow {
        gap: 40px;
        row-gap: 60px;
    }
    .ceramicArticle {
        /* flex: 50%; */
        flex: 1 1 calc(50% - 50px);
    }

    #inCartBtn {
        width: 100%;
        padding: 8px;
    }

    .content {
        gap: 10px;
        font-size: 1.1em;
    }

    #icon {
        font-size: 1.7em;
        font-size: 2em;
        margin-right: 25px;
    }

    button.ceramics {
        font-size: 0.8em;
        border-radius: 0;
    }

    .footerContentCont {
        width: 80%;
    }

    .allTogether {
        width: 80%;
    }

}


